<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <!-- comment out packages like this -->
      <package id="7zip.install" />
      <package id="firefox" />
      <package id="adobereader" />
      <package id="flashplayerplugin" />
      <package id="anki" />
      <package id="arduino" />
      <package id="cryptomator" />
      <package id="dropbox" />
      <package id="etcher" />
      <package id="everything" />
      <package id="f.lux" />
      <package id="git.install" />
      <package id="hexchat" />
      <package id="inkscape" />
      <package id="imagemagick.app" />
      <package id="jdownloader" />
      <package id="pycharm-community " />
      <package id="keepass.install" />
      <package id="launchy" />
      <!--package id="lenovo-thinkvantage-system-update " /-->
      <package id="miktex.install" />
      <package id="texstudio" />
      <package id="nordvpn" />
      <package id="notepadplusplus.install" />
      <package id="paint.net" />
      <package id="pdfsam.install" />
      <package id="miniconda3 --package-parameters "'/AddToPath:1'" />
      <package id="qbittorrent" />
      <package id="skype" />
      <package id="sourcetree" />
      <package id="spotify" />
      <package id="telegram.install" />
      <package id="vlc" />
      <package id="whatsapp" />
      <package id="tor-browser" />
      <package id="t-clock" />
      <package id="nfopad" />
	  <package id="sumatrapdf" />
      <package id="hfs" />
      <package id="colortool" />
      <!--package id="nmap" /-->
    </packages>